/* commom css style */


*{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.logo {
    
    font-weight: 800;
    
}

.logo span{ 
    color: #FD6E0A;

}

nav ul {
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
    color: #353535;
}

.btn-primary {
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 25px;
}

/* header related style */
.header{

    background-color: #FFF8F3;
    
}

.banner{
    display: flex;
    align-items: center;
}

.banner .profile-pic{
    width: 500px;
    height: 600px;
}